<footer>
    <h1>created by Pavan</h1>
</footer>

<style>
    footer {
        background-color: #ffd9e8;
        text-align: center;
        padding: 30px;
        font-family: 'Righteous';
    }
</style>