<%- include('partails/header'); -%>

    <div class="about">
        <h1>About US...</h1>

        <p>
            <%=about %>
        </p>
    </div>
    <%- include('partails/footer'); -%>
        <style>
            .about {
                padding: 250px;
                text-align: justify;
                padding-top: 50px;
            }
        </style>